div.navbar {
  background: var(--bg-color);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
  margin-top: 40px;
}

div.navbar.ios {
  padding-bottom: 31px;
}

.navbar button {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  padding: 0;

  max-width: 77px;
  min-width: 77px;

  height: 46px;
}

@media (max-width: 380px) {
  .navbar button {
    max-width: 70px;
    min-width: 70px;
  }

  .navbar button span {
    font-size: 11px;
  }
}

@media (max-width: 360px) {
  .navbar button span {
    font-size: 10px;
  }

  .navbar button {
    max-width: 70px;
    min-width: 70px;
  }
}

@media (max-width: 355px) {
  .navbar button span {
    font-size: 9px;
    display: none;
  }

  .navbar button {
    max-width: 45px;
    min-width: 45px;
  }
}

.navbar button.magnet {
  background-color: transparent;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: 0;
  width: 64px;
  height: 64px;
  min-width: 64px;
  flex: 0 0 auto;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
}

.bolt {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
