div.navbar {
  background: var(--bg-color);
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar button {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  padding: 0;
  flex: 1 1 auto;
  min-width: 0;
}



@media (max-width: 360px) {
  .navbar button span {
    font-size: 10px;
  }
}

button.magnet {
  background-color: transparent;
  position: relative;
  cursor: pointer;
  outline: 0;
  border: 0;
  width: 64px;
  height: 64px;
  transform: translateY(-11px);
  flex: 0 0 auto;
  margin-right: -8px;
}

.gradient {
  position: absolute;
  top: 0;
  left: 0;
}

.bolt {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
